.header{
    float: top;
    height: 10%;
    border-bottom-style: solid;
}

.sidebar{
    float: left;
    width: 10%;
    display: block;
    border-right-style: solid;
    height: 90%
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.w3-button{
    width: 100%;
}

.container{
    display: block;
    float: left;
    width: 90%;
    padding: 2%;
}

#index-stats-container{
    background-color: #ccc;
}

#searchDiv{
    display: inline;
}