.header{
    float: top;
    height: 10%;
    border-bottom-style: solid;
}

.sidebar{
    float: left;
    width: 10%;
    display: block;
    border-right-style: solid;
    height: 90%
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.w3-button{
    width: 100%;
    border: 1px solid black;
}

.container{
    display: block;
    float: left;
    width: 90%;
    padding: 2%;
}

#index-stats-container{
    background-color: #ccc;
}

.inline-div{
    display: inline;
    margin: 3px;
}

#back-button{
    width: 45%;
    padding-right: 2%;
}